<!doctype html>
<html>

<head>
    <base href="/" />
    <!-- THIS TINY LITTLE THING -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, React, web design, CSS3, sass"/>
    <title>ByParts</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="{{static_url}}/vendors/material-design-iconic-font/css/material-design-iconic-font.min.css" />
    <link rel="stylesheet" href="{{static_url}}/vendors/weather-icons/css/weather-icons.min.css">
    <link rel="stylesheet" href="{{static_url}}/vendors/flag/sprite-flags-24x24.css" />
    <link rel="stylesheet" href="{{static_url}}/vendors/animate.css" />
    <link rel="stylesheet" href="{{static_url}}/vendors/bootstrap-rtl.css" />
    <link rel="stylesheet" href="{{static_url}}/vendors/loader.css" />
    <link rel="stylesheet" href="{{static_url}}/vendors/react-select/react-select.css" />
    <link rel="stylesheet" href="{{static_url}}/vendors/react-notification/react-notifications.css" />


    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="ByParts" />
    <link rel="apple-touch-icon-precomposed" href="favicon.ico" />

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places,geometry,drawing&key=AIzaSyBgqAomc9Vukt12AV3tJLasBnNehSNKuOY"></script>
</head>

<body id="body">
    <div id="app-site">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <script>__REACT_DEVTOOLS_GLOBAL_HOOK__ = parent.__REACT_DEVTOOLS_GLOBAL_HOOK__</script>
    <script type="text/javascript" src="{{static_url}}/assets/app.js"></script>
</body>

</html>